

<div class="list-group">
    <div class="d-flex" class="pt-2">
        <!-- <h1>Categories </h1>
    
        <div class="p-2" >
            <button  class="btn btn-success" routerLink="/addcategory">Add Category</button>
        </div> -->

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
            <h1 class=" px-4 me-sm-3">Categories</h1>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/addcategory">Add Category</button>
        </div>
    </div>
    
    <a *ngFor="let category of categories" href="#" class="list-group-item list-group-item-action"  routerLink="/editcategory/{{category.id}}">{{category.title}}</a>
</div>


<div class="list-group">
    <!-- <div class="d-flex" >
        <h1>Posts </h1>
    
        <div class="p-2" >
            <button  class="btn btn-success" routerLink="/addposts">Add Post</button>
        </div>
    </div> -->
    <div class="d-flex" class="pt-5">
        <div class="d-grid gap-5 d-sm-flex justify-content-sm-center mb-3">
            <h1 class=" px-4 me-sm-3">Posts</h1>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/addpost">Add Post</button>
        </div>
    </div>
    
    <a *ngFor="let post of posts" href="#" class="list-group-item list-group-item-action" routerLink="/editpost/{{post.id}}">{{post.title}}</a>
</div>